@import url("https://fonts.cdnfonts.com/css/camieis");
@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --camieis: "Camieis";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-camieis: var(--camieis);
  ----breakpoint-2xl: 1400px;
}

body {
  color: var(--foreground);
  background: url("/bg.png") center center / cover;
}

button {
  @apply cursor-pointer;
}

.btn_light {
  background: url("/btn-bg-light.png") center center / contain no-repeat;
}

.header_bg {
  clip-path: polygon(0 0, 100% 0, calc(100% - 60px) 100%, 60px 100%);
}

@media (max-width: 64rem) {
  .header_bg {
    clip-path: none;
  }
}

.container {
  @apply max-w-[1400px] mx-auto px-2 md:px-6 lg:px-4;
}

.hero {
  background: url("/hero-bg.png") bottom center / cover no-repeat;
}

.clip-path-button {
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}

.circle-mask {
  mask-image: linear-gradient(to bottom, black 76.1%, transparent 76.1%);
}

@media (max-width: 1024px) {
  .circle-mask {
    mask-image: linear-gradient(
      to bottom,
      black 83%,
      transparent 83%
    ) !important;
  }
}

.btn-primary {
  background: url("/btn-bg-primary.png") center center / contain no-repeat;
}

.btn-secondary {
  background: url("/btn-bg-secondary.png") center center / contain no-repeat;
}

.overview {
  background: url("/big-solder.png") no-repeat;
  background-size: 40%;
  background-position: right bottom;
}

@media (max-width: 64rem) {
  .overview {
    background: none;
  }
}

.trailer {
  background: url("/trailer.png") center center / contain no-repeat;
}

.btn_watch-trailer {
  background: url("/btn-texture.png") center center / contain no-repeat;
}

.mission {
  background: url("/mission-bg.png") bottom center / cover no-repeat;
}

.mission__quote {
  position: relative;
}

.mission__quote::before {
  content: "";
  background: url("/el_quotes.svg") center center / contain no-repeat;
  width: 75px;
  height: 75px;
  position: absolute;
  top: -20px;
  left: -100px;
}

@media (max-width: 1200px) {
  .mission__quote::before {
    left: 50%;
    transform: translateX(-50%);
    top: -81px;
    width: 48px;
    height: 39.57px;
  }
}

@media (max-width: 64rem) {
  .mission__quote::before {
    left: 50%;
    transform: translateX(-50%);
    top: -81px;
    width: 48px;
    height: 39.57px;
  }
}

.features__content {
  background: url("/feature-bg.png") center center / cover no-repeat;
  aspect-ratio: 9 / 5;
}

@media (max-width: 1024px) {
  .features__content {
    background: none;
  }
}

.features__wrapper {
  background: url("/feature-container.png") center center / cover no-repeat;
}

@media (max-width: 1400px) {
  .features__wrapper {
    background: none;
  }
}

.features__texts {
  border-radius: 20px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.2);
  mask-image: url("/mask-feature.png");
  mask-repeat: no-repeat;
  mask-size: cover;
}

@media (max-width: 1024px) {
  .features__texts {
    mask-image: none;
    border: 1px solid #b0b0b0;
  }
}

.characters {
  padding-top: 277px;
}

.characters__wrapper {
  background: url("/charaters-bg.png");
  background-size: contain auto;
  background-position: top;
  background-repeat: no-repeat;
}

.character__card {
  background: url("/character-bg-card.png") center center / contain no-repeat;
}

@media (max-width: 64rem) {
  .characters {
    padding-top: 102px;
  }

  .characters__wrapper {
    background-color: #d70403;
    background-image: none;
  }
}

.weapon {
  background: url("/weapon-bg.png") bottom center / contain no-repeat;
}
